.body {
    padding-left: 20px;
}

.type {
    border: 1px solid black;
    padding: 20px;
}

.buttons {
    display: inline-flex;
    flex-direction: column;
}

#bookBtn { /*trying to get buttons on left side of page and make longer*/
    padding: 10px;
    background-color: cornflowerblue;
    color: white;
    font-weight: bolder;
    align-content: flex-end; 

}

#appBtn {  /*trying to get buttons on left side of page and make longer*/
    padding: 13px;
    background-color: white;
    font-weight: bolder;
    align-content: flex-end; 
}

.services { /*cant figure out how to get padding below boxes*/
    background-color: rgb(231, 231, 231);
    padding: 20px;
    /* column-count: 2; */
    /* gap: 20px; */
    
}

.about, .buttons {
    display: inline-flex;
}

.book, .price {
    display: inline-block;
}

.book { /*change color of link*/
    color: black;
    text-decoration: none;
}

.price {     /*cant figure out how to get price to align to the right*/
    text-align: left;
}

.about { /*only way I could think of getting buttons apart */
    padding-right: 50px;
}

.picture {
    text-align: center;
}

.map {
    padding-top: 30px;
    text-align: center;
}

.hours, .address { /*cant get to center*/
    display: inline-block;
}

.plant {
    color: green;
}

.facestar {
    color: red;
}

.star {
    color: rgba(255, 255, 0, 0.76);
}

.pay {
    text-align: right;
}