.body {
    padding-left: 20px;
}

.type {
    border: 1px solid black;
}

.buttons {
    display: inline-flex;
    flex-direction: column;
    -ms-flex-align: end;
}

#bookBtn { /*trying to get buttons on left side of page*/
    padding: 20px;
    background-color: cornflowerblue;
    color: white;
    font-weight: bolder;
    align-content: flex-end; 

}

#appBtn {  /*trying to get buttons on left side of page*/
    padding: 23px;
    background-color: white;
    font-weight: bolder;
    align-content: flex-end; 
}

.services { /*cant figure out how to get padding around boxes*/
    background-color: lightgrey;
    padding: 20px;
    column-count: 2;
    /* gap: 20px; */
    
}

.intro, .buttons {
    display: inline-flex;
}

.book, .price {
    display: inline-block;
}

.book { /*change color of link*/
    color: black;
    text-decoration: none;
}

.price {     /*cant figure out how to get price to align to the right*/
    text-align: left;
}

.about { /*only way I could think of getting buttons apart*/
    padding-right: 100px;
}

.picture {
    text-align: center;
}

.map, .address, .hours {
    display: inline-block;
    padding-top: 30px;
}

.address, .hours { /* align items to the left*/
    align-content: right;
}

.map {
    padding-right: 50px;
}